<div class="share-page social-buttons casper">
    <span> Compartilhe &rarr; </span>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ page.twitter_username }}" class="brandico-twitter-bird" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    </li>
    <li>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="brandico-facebook" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="brandico-googleplus-rect" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
    </li>
</div>
